asgiref==3.12.1
boto3==1.43.63
botocore==1.43.63
dj-database-url==2.3.0
Django==6.0.7
django-allauth==65.8.0
django-storages==1.14.6
gunicorn==23.0.0
jmespath==1.1.0
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
Pillow==10.4.0
PyJWT[crypto]==2.10.1
cryptography==42.0.5
requests==2.32.3
requests-oauthlib==2.0.0
oauthlib==3.2.2
s3transfer==0.19.2
six==1.17.0
sqlparse==0.5.5
tzdata==2026.3
urllib3==2.7.0
whitenoise==6.9.0
